body {
    background: rgb(32, 33, 36);
    color: lightgray; 
    font-family: sans-serif;
    justify-content: center;
    text-align: center;
    display: inline;
    word-wrap: break-word;
}

#logoDiv {
    padding: 70px 0;
}

#textDiv {
    padding-left: 100px;
    padding-right: 100px;
}

.link {
    color: rgb(124, 191, 254);
}

.dev {
    text-align: center;
    margin-top: -500px;
    padding: 10px;
    width: 400px;
}

#tristan {
    float: right;
    margin-right: 10px;
}

#jasper {
    float: left;
    margin-left: 10px;
}

#backButton {
    color: gray;
    padding: 5px;
    background-color: transparent;
    border: 2px solid rgb(53, 53, 252);
    border-radius: 4px;
}